[Unit]
Description=Knoll.
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=knoll
Environment="HOME=/home/knoll"
Environment="XAUTHORITY=/home/knoll/.Xauthority"
Environment="PATH=/home/knoll/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games"
Environment="NO_AT_BRIDGE=1"
Environment="XDG_SESSION_TYPE=tty"
Environment="XDG_SESSION_CLASS=user"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
WorkingDirectory=/home/knoll/Projects/knoll-narrator
ExecStart=/bin/bash /home/knoll/Projects/knoll-narrator/run.sh --narrator
RemainAfterExit=true
Restart=no

[Install]
WantedBy=multi-user.target