annotated-types
anyio
appnope
asttokens
certifi
charset-normalizer
decorator
distro
elevenlabs
exceptiongroup
executing
h11
httpcore
httpx
idna
imageio
imageio-ffmpeg
ipython
jedi
matplotlib-inline
numpy
openai
parso
pexpect
Pillow
prompt-toolkit
ptyprocess
pure-eval
pydantic
pydantic_core
Pygments
pyht
requests
simpleaudio==1.0.4
six
sniffio
stack-data
tqdm
traitlets
typing_extensions
urllib3
wcwidth
websockets
boto3
dotenv
